#wpadminbar #wp-admin-bar-wc_pos_admin_bar_registers .ab-icon:before {
    content: "\f513";
    top: 0px;
    font-size: .75em;
}
li.woocommerce-MyAccount-navigation-link--point-of-sale a::before {
    content: "\f513" !important;
    font-family: dashicons !important;
}